@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina|Courgette|Great+Vibes|Montserrat|Patua+One|Raleway');

/*font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Patua One', cursive;
font-family: 'Courgette', cursive;
font-family: 'Baloo Bhaina', cursive;
font-family: 'Great Vibes', cursive;*/


/* START OF ENTER COMPANY INFORMATION FORM*/

#modal{
  position: fixed;
  z-index: 1;
  left: 0;
  color: black;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
}

#content {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  color: #cc5200;
  background-color: #cc5200;
  /*background: url('http://www.mirsens.com/layout/images/global/blueDust.jpg')no-repeat center center fixed;*/
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 50%;
  height: 120%;
  border-radius: 6px;
  text-align: center;
}

#content h1, h5 {
  color: white;
  background-color: #cc5200;
  padding: 3px;
}


/*BUTTON STYLING*/

.submit {
  padding: 15px;
  margin: 5px;
  font-size: 17px;
  border: 0px;
  background-color: white;
  border-bottom: 1px solid #cc5200;
  color: #ff6600;
}

.submit:hover {
  background-color: #cc5200;
  color: white;
}

.cancel {
  padding: 15px;
  margin: 5px;
  font-size: 17px;
  border: 1px;
  border-bottom: 1px solid black;
  background-color: white;
  /*background-color: #33bbff;*/
  color: black;
}

.cancel:hover {
  background-color: red;
  color: white;
  border-bottom: 1px solid red;
}


/* END OF ENTER COMPANY INFORMATION FORM*/


/*START OF SUBSCRIBER FORM*/

#content1 {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  color: #cc5200;
  background-color: #cc5200;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 70%;
  border-radius: 6px;
  text-align: center;
}


#content1 h4{
  color: white;
  background-color: #cc5200;
  padding: 3px;
}


/*GENERAL FORM DESIGN*/

form {
  background-color: white;
  padding: 10px;
}


/*GENERAL FORM DESIGN*/

.companiesDiv {
  margin-top: 200px;
  padding: 100px;
}

.main {
  text-align: center;
  padding: 200px;
  color: red;
}

.form-control {
  width: 90%;
  margin: auto;
  padding: 10px;
}

.content {
  text-align: center;
}
