<form class="form-group">
	<h1>Are you a company?</h1>
	<label>Company Email:</label><br> {{input class="form-control" value=email id='email' placeholder='BushDid911@company.com'}}
	<label>Password:</label><br> {{input class="form-control"value=password type='password' id='password'}}<br>
	<button {{action 'signInCompany'}}id="signIn">Sign In</button>
</form>
