<div class="header signin">
	<h1>SIGN IN HERE TO ACCESS EITHER SUBSCRIBER OR COMPANY PAGES</h1>
</div>
<div class="container signIn">
	<div class="row signinCompany">
		{{company-signin signInCompany='signInCompany'}}
	</div>
	<div class="row signinUser">
		{{subscriber-signin signInSubscriber='signInSubscriber'}}
	</div>
</div>
{{outlet}}
