<!-- <div class="container-fluid main">
  <h1>NOTIFIER</h1>
  <p>BLAAA</p>
</div> -->
<div class="container-fluid" style="margin-left:100px;">
  {{company-tile companies=model saveCompany="saveCompany" saveSubscriber="saveSubscriber"}}
</div>
