<div class="container-fluid subscriberPortal">
  <h1>Welcome to Your subscriber portal.</h1>
</div>
<div class="subscriberDetails">
  <h2>Your Details</h2>
  <div class="row">
    <div class="col-md-6 subscriberCompanies">
      <h2>Subscribed companies.</h2>
      <ul>
        <li>Nation media</li>
        <li>Foughts entertainment</li>
        <li>Google kenya</li>
        <li>The Standard Group</li>
        <li>Sasita Companies</li>
        <li>Colgate kenya</li>
        <li>Ndogogio Kenya</li>
        <li>Ghafla kenya</li>
      </ul>
    </div>
    <div class="col-md-6 subscriberNews">
      <a href="#"><span class="glyphicon glyphicon-envelope"></span></a>
      <p>Total number of received notifications</p>
      <h1><span class="subscriberNo">26</span></h1>
    </div>
  </div>
</div>
<div class="moreSubscriptions">
  <h3>In case you are interested in more subscriptions, you can add them here!</h3>
  {{#link-to 'index'}}<button class="moreSubscriberBtn">I want More subscriptions</button>{{/link-to}}
  <h4>&copy; Notify 2017</h4>
</div>
