<div class="container-fluid navbar">
  {{#link-to 'index'}}Home{{/link-to}}
  {{#link-to 'index'}}Sign In Client{{/link-to}}
  {{#link-to 'index'}}Sign In Subscriber{{/link-to}}
</div>
<!-- {{#link-to 'company-profile'}} Profile{{/link-to}} -->
{{outlet}}
